* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: #ebe9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  height: 100%;
}

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("./Images/bg.jpg") no-repeat center center;
  height: 615px;
  min-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.hero .logo {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  color: #eee;
  padding: 1rem;
  border-radius: 0.4rem;
  background: rgba(0, 0, 0, 0.6);
}

.hero .logo .logoimg {
  width: 50px;
  height: auto;
}

.hero .logo .header {
  font-size: 2.7rem;
  font-weight: 900;
}
.container {
  height: auto;
  background-color: #ffffff;
}
.mainText {
  background-color: #d4d2d2;
  padding: 2rem;
  position: relative;
  top: 0;
}

.mainText .text {
  font-weight: 700;
  font-size: 1.1rem;
}

.form {
  padding: 1rem;
}

.form p {
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 1rem;
}

form .inputField {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form .inputField label {
  font-size: 0.8rem;
  font-weight: 540;
  font-family: Arial, Helvetica, sans-serif;
}

form .inputField input {
  font-size: 1.2rem;
  width: 13rem;
  min-width: 13rem;
  max-width: 13rem;
  background: transparent;
  padding: 0.3rem 1rem;
  border: 1px solid #dadce0;
  border-radius: 4px;
  transition: all 150ms;
  outline: none;
  width: 90%;
}

.form .inputField input:valid {
  outline: 2px solid green;
  background: rgba(139, 228, 4, 0.2);
}
.form .inputField input:invalid {
  outline: 2px dotted red;
  background: transparent;
}
form .inputField input:focus {
  border: 3px solid #1a73e8;
  background: transparent;
}

.actionBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.actionBtn .createAccount {
  background-color: #596d48;
  color: white;
  border: none;
  padding: 0.4rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.passwordSame {
  text-align: center;
  font-family: cursive;
}
.fade-in {
  opacity: 0;
}
.fade-in.show {
  opacity: 1;
  transition: all 0.5s;
}

@media only screen and (max-width: 1024px) {
  body {
    flex-direction: column;
    width: 100%;
  }
  .hero {
    width: 100vw;
    height: 80vh;
  }
  .hero .logo {
    width: 50%;
    justify-content: space-evenly;
  }
  .hero .logo .header {
    font-size: 5rem;
  }
  form .inputField {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
  }
  form .inputField input {
    width: 100%;
  }
  .container {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 60vh;
  }
  form .inputField {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  form .inputField input {
    width: 100%;
    margin-bottom: 10px;
  }

  .hero .logo {
    width: 100%;
    justify-content: center;
  }
  .hero .logo .logoimg {
    margin-right: 5px;
  }
}
